.question , .title{
    text-align: center;
}

.section-ceneter, .question{
    text-align: center;
}

.question-text   p{
    letter-spacing: var(--spacing);
    color: var(--clr-grey-1);

}

.question-btn{
    font-size: 1.5rem;
     background: transparent;
    border-color: transparent;  
    cursor: pointer;
    color: var(--clr-gold);
    transition: var(--transition);
}

.question-btn:hover{
    transform: rotate(90degree);
}

.question-text{
    padding: 1rem o 1.5rem 0;
    border-top: 1px solid rgb(0, 0,0,0.2);
}

  /* hide text */

  .question-text{
    display: none;
}

.show-text  .question-text{
    display: block;
}

.minus-icon{
     display: none; 
}
.show-text .minus-icon {
    display: inline;
}
.show-text .plus-icon{
     display: none;
}
/* .question-title , span{
    display: flex;
    
} */